<div class="container">

  <% @meals.each do |meal| %>

    <p>meal!</p>

    <%= meal %>

  <% end %>


  <%
  (0..30).step do |n|
    date = Date.today + n
    %>

    <div class="row day" data-day="<%= date %>">

      <div class="col-sm-12">

        <h3>
          <%= date.strftime("%A, %b %d") %>
          <% if(n == 0) %>
            (Today)
          <% end %>
        </h3>

      </div>

      <div class="col-sm-4">
        <button class="btn btn-default">Sign up for breakfast</button>
      </div>

      <div class="col-sm-4">
        <button class="btn btn-default">Sign up for lunch</button>
      </div>

      <div class="col-sm-4">
        <button class="btn btn-default">Sign up for dinner</button>
      </div>

    </div>

  <% end %>

</div>